body {
	background-image: url(images/bg.gif);
	background-repeat: repeat-x;
	background-color: #1693a0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.nav a {
	display: block;
	height: 16.5px;
	width: 150px;
	border: thin;
	border-bottom: 0px;
	border-style: solid;
	padding: 15px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
}
.nav {
	text-align: center;
	background-color: #11a7b8;
	height: 48px;
	width: 912px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.nav-container {
	margin: 0 auto;
	width: 1024px;
	background-color: #11a7b8;
}
.nav a:link {
	color: #fff;
	text-decoration: none;
}
.nav a:visited {
	color: #CCC;
	text-decoration: none;
}
.nav a:hover {
	color: #666;
	background-color: #CCC;
	font-style: italic;
	border: thin solid #CCC;
	border-bottom: 0px;
}
.nav a:active {
	color: #fff;
}
#logo-header-link {
	border: none;
}
header {
	height: 153px;
	width: 1024px;
	margin: 0 auto;
	background-color: #b4bcc4;
}
.band h3 {
	vertical-align: middle;
	color: #11a6b8;
}
.band {
	margin-bottom: 10px;
	background-color: #362a22;
	width: 1024px;
	height: 31px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	font-family: Verdana, Geneva, sans-serif;
	color: #11a7b8;
}
main {
	width: 1024px;
	background-color: #11a7b8;
	margin: 0 auto;
	vertical-align: top;
}
#about-img {
	vertical-align: top;
}
#about-text {
	padding-left: 20px;
	width: 440px;
	height: auto;
	display: inline-block;
	padding-top: 8px;
	padding-right: 30px;
	overflow: hidden;
	color: #362a22;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
}
#potfolio_images_container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
#potfolio_images_container img {
	border: none;
}
.portfolio {
	float: left;
}
.readmore, .readless {
	text-align: right;
	margin-top: 5px;
}
.readmore a, .readless a {
	color: #362a22;
	font-weight: 600;
}
.readmore2, .readless2 {
	text-align: right;
	margin-top: 5px;
}
.readmore2 a, .readless2 a {
	color: #362a22;
	font-weight: 600;
}
.hide {
	display: none;
}
#advert {
	background-image: url(images/optic_advert.jpg);
	height: 234px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.news-container {
	height: auto;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: #11a7b8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
#contact {
	height: 250px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: #11a7b8;
	padding: 0px 20px 0px 20px;
	color: #362a22;
}
#contact form {
	margin-top: -10px;
}
#contact h2 {
	font-size: 24px;
	margin-top: 30px;
}
#name, #email, #message {
	width: 90%;
}
.news-img {
	margin: 15px;
	vertical-align: top;
	width: 378px;
	height: auto;
	border: 2px;
	border-style: solid;
	display: inline-block;
}
.news-content-block {
	width: 520px;
	display: inline-block;
	padding: 5px 30px 5px 20px;
	color: #fff;
}
.news-content-block h3 {
	width: 170px;
	padding: 5px 20px 5px 0px;
	color: #362a22;
}
.tan_content_block {
	margin-top: 10px;
	background-color: #dccfc6;
	height: auto;
	width: 964px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
footer {
	background-color: #362a22;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 1024px;
	height: 54px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #c4ae9d;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding-top: 10px;
}
footer em {
	color: #fff;
}

.mini_game a {
	color: #fff;
}

.mini_game {
	font-size: 10px;
	margin: 0 auto;
	text-align: center;
}

h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
